config LOONGARCH_NDS
	bool
	select ARCH_EARLY_INIT_R
	imply CPU
	imply CPU_LOONGARCH
	imply LOONGARCH_TIMER if (LOONGARCH_SMODE || SPL_LOONGARCH_SMODE)
	imply ANDES_PLICSW if (LOONGARCH_MMODE || SPL_LOONGARCH_MMODE)
	imply ANDES_PLMT_TIMER if (LOONGARCH_MMODE || SPL_LOONGARCH_MMODE)
	imply SPL_CPU
	imply SPL_OPENSBI
	imply SPL_LOAD_FIT
	help
	  Run U-Boot on AndeStar V5 platforms and use some specific features
	  which are provided by Andes Technology AndeStar V5 families.

if LOONGARCH_NDS

config LOONGARCH_NDS_CACHE
	bool "AndeStar V5 families specific cache support"
	depends on LOONGARCH_MMODE || SPL_LOONGARCH_MMODE
	help
	  Provide Andes Technology AndeStar V5 families specific cache support.

endif
