# SPDX-License-Identifier: GPL-2.0+
#
# Copyright (C) 2018, Bin Meng <bmeng.cn@gmail.com>

config GENERIC_LOONGARCH
	bool
	select BINMAN if SPL
	select ARCH_EARLY_INIT_R
	imply CPU
	imply CPU_LOONGARCH
	imply LOONGARCH_TIMER if (LOONGARCH_SMODE || SPL_LOONGARCH_SMODE)
	imply SIFIVE_CLINT if LOONGARCH_MMODE
	imply SPL_SIFIVE_CLINT if SPL_LOONGARCH_MMODE
	imply CMD_CPU
	imply SPL_CPU
	imply SPL_OPENSBI
	imply SPL_LOAD_FIT
